$def with (page)

<html>
  <head>
    <!--[if lt IE 9]>
      <script src="static/js/html5.js"></script>
    <![endif]-->
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
        padding-top: 40px;
      }
      
      .container > footer p {
        text-align: center;
      }

      table {
        vertical-align: center;
        font-family: 'Pontano Sans', sans-serif;
      }

      .topbar .btn {
        border: 0;
      }
      
      #footer {
        text-align: center;
        margin: 10px;
        padding: 5px;
      }
      
      #sentiment_table td{
        vertical-align: middle;
        font-size: 20px;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        $:page
      </div>
    </div>
  </body>
</html>



